@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.card-registration .select-input.form-control[readonly]:not([disabled]) {
	font-size: 1rem;
	line-height: 2.15;
	padding-left: 0.75em;
	padding-right: 0.75em;
}
.card-registration .select-arrow {
	top: 13px;
}

.picture-container {
	position: relative;
	cursor: pointer;
	text-align: center;
	
}
.picture_post {
	width: 450px;
	height: 250px;
	background-color: #999999;
	border: 2px solid #cccccc;
	border-radius: 10px;
	color: #ffffff;
	/* border-radius: 50%; */
	margin: 0px auto;
	overflow: hidden;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	backdrop-filter: blur(12px);
}
.picture_post:hover {
	border-color: #2ca8ff;
}
.content.ct-wizard-green .picture_post:hover {
	border-color: #05ae0e;
}
.content.ct-wizard-blue .picture_post:hover {
	border-color: #3472f7;
}
.content.ct-wizard-orange .picture_post:hover {
	border-color: #ff9500;
}
.content.ct-wizard-red .pictpicture_posture:hover {
	border-color: #ff3b30;
}
.picture_post input[type="file"] {
	cursor: pointer;
	display: block;
	height: 100%;
	left: 0;
	opacity: 0 !important;
	position: absolute;
	top: 0;
	width: 100%;
}

.picture-src {
	width: 100%;
}
/*Profile Pic End*/

.popup-content {
	margin: auto;
	background: #fff;
	width: 140vh;
	/* padding: 5px; */
	border: 1px solid #d7d7d7;
	overflow-y: auto;
}

.previwes:hover {
	border-color: #070000;
	background-color: #2ca8ff;
}

.logo{
	font-family: 'Oswald',sans-serif;
	text-align: center;
}
.post-card{
	background-color: transparent;
	backdrop-filter: blur(12px);
	border: 1px solid gray;
	border-radius: 20px;
	/* border-color: transparent;	 */
	

} 

/* it was a very wonder full experience as it was first trek of my life 
never forgetting and joyful, enjoyed it a lot
and i almost lost while exploring the place as i was alone 😂😂 */
