body {
	/* padding-top: 6vh; */
	/* background-image: linear-gradient(to right, #de6238 0%, #fee140 100%); */
	background-color: #ffffff;
	background-image: linear-gradient(287deg, #ffffff 100%, #758283 100%);

	background-repeat: no-repeat;
	background-size: auto;
	align-items: center;
}
html {
	margin: auto;
	width: 100vh;
}
.border {
	align-items: center;
	border-bottom: 1px solid #dadde1;
	display: flex;
	margin: 10px 1px;
	text-align: center;
}
.signup {
	background-color: #42b72a;
	border-color: #42b72a;
	border-radius: 6px;
	font-size: 18px;
	line-height: 30px;
	color: #ffffff;
	display: inline-block;
}
